#include <winres.h>
#include "controls.h"

1 ICON	"resources\\favicon.ico"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

// DS_CENTER : center of monitor of parent
// DS_CENTERMOUSE : close to mouse on monitor where mouse is

IDD_MAINDIALOG DIALOGEX 0, 0, 296, 212
STYLE DS_NOIDLEMSG | DS_SETFONT | DS_MODALFRAME | DS_CENTERMOUSE |
	WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Common Controls in Assembly"
FONT 9, "Segoe UI", 0, 0, 0
BEGIN
	DEFPUSHBUTTON	"OK",IDOK,				239,191,50,14,WS_GROUP
	PUSHBUTTON	"Animation",IDC_BUTTON_ANIMATION,	33,24,50,14
	PUSHBUTTON	"ComboBoxEx",IDC_BUTTON_COMBOBOXEX,	33,54,50,14
	PUSHBUTTON	"Updown",IDC_BUTTON_UPDOWN,		33,84,50,14
	PUSHBUTTON	"Header",IDC_BUTTON_HEADER,		33,114,50,14
	PUSHBUTTON	"MonthCal",IDC_BUTTON_MONTHCAL,		33,144,50,14
	PUSHBUTTON	"DateTimePick",IDC_BUTTON_DATETIMEPICK,	33,174,50,14
	PUSHBUTTON	"Listview",IDC_BUTTON_LISTVIEW,		121,24,50,14
	PUSHBUTTON	"Treeview",IDC_BUTTON_TREEVIEW,		121,54,50,14
	PUSHBUTTON	"Tab Control",IDC_BUTTON_TABCONTROL,	121,84,50,14
	PUSHBUTTON	"Tooltip",IDC_BUTTON_TOOLTIP,		121,114,50,14
	PUSHBUTTON	"IP Address",IDC_BUTTON_IPADDRESS,	121,144,50,14
	PUSHBUTTON	"Rebar",IDC_BUTTON_REBAR,		121,174,50,14
	PUSHBUTTON	"Statusbar",IDC_BUTTON_STATUS,		209,24,50,14
	PUSHBUTTON	"Progress Bar",IDC_BUTTON_PROGRESS,	209,54,50,14
	PUSHBUTTON	"Toolbar",IDC_BUTTON_TOOLBAR,		209,84,50,14
	PUSHBUTTON	"Trackbar",IDC_BUTTON_TRACKBAR,		209,114,50,14
	PUSHBUTTON	"SysLink",IDC_BUTTON_SYSLINK,		209,144,50,14
END

// some resources for example use ... (use shell32.dll)

IDR_UPLOAD_AVI	AVI	"resources\\upload.avi"

// example control dialogs ...

IDD_TEMPLATE DIALOGEX 0, 0, 260, 183
STYLE DS_NOIDLEMSG | DS_CENTERMOUSE | DS_SETFOREGROUND | DS_SETFONT
	| WS_THICKFRAME | WS_POPUP | WS_CAPTION | WS_VISIBLE
CAPTION "<placeholder>"
FONT 9, "Segoe UI", 0, 0, 0
BEGIN
	// nothing up my sleeve
END
